@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #1f1f1f;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
  /*   background-image: url(/Imagenes/fondo-header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;  */
    background-color: black;
    min-height: 70vh;
    display: flex;
    align-items: center;
    position: sticky;
    
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img{
    width: 120px;
    height: 120px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font: 18px;
    padding: 20px;
    color: #ffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #cf2d3a;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    padding: 90px;
    text-align: center;
    margin-bottom: 45px;
}

.header-txt h1, span, h3{
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    color: #cf2d3a;
    margin-bottom: 25px;
}

.header-txt span{
    font-size: 25px;
}

.header-txt p{
    color: #afafaf;
    padding: 0 25px;
    margin: 25px 0;
}



.header-dir{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.dir h3{
    font-size: 18px;
}

.dir p{
    font-size: 22px;
    color: #ffff;
    text-transform: uppercase;
}

/* SECCION DE TIPO DE LETRAS Y COLORES */

h2{
    font-size: 90px;
    line-height: 100px;
    color: #ffff;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #afafaf;
    margin: 25px 0;
}

.b1{
    color: #cf2d3a;
}

/* SECCION DE PRODUCTOS */


.products{
    padding: 100px 0;
    text-align: center;
}

.products-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    border: 1px solid #cf2d3a;
    width: 200px;
}
.products-txt p{
    padding: 50px 150px;
}

/* SECCION DE APARTADOS */

.apartados{
    display: flex;
    margin: 15px 20px 20px 15px; 
    padding: 50px 50px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    justify-content: space-between;

}

.apartados a{
    font: 18px;
    padding: 20px;
    color: #ffff;
    display: block;
}

.apartados a:hover{
    color: #cf2d3a;
}

/* TARJETAS */


.products{
    
    padding: 100px 0;
    text-align: center;
}

.products-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    border: 1px solid #cf2d3a;
    width: 200px;
}
.products-txt p{
    padding: 50px 150px;
}

.products-group{
    width: 100%;
     max-width: 1200px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 50px;
     padding: 45px 0px;
}

.products-1{
    background-color: #070707;
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    
}

.products-1:hover{
    transition: 3s ease;
    background-color: #0d2033;
}

.products-1 img{
    width: 35%;
    margin-bottom: 15px;
}

.products-1 h3{
    font-size: 25px;
    color: #ffff;
}

.products-1 a{
    color: #cf2d3a;
    font-size: 16px;
}

.products-1 a:hover{
    color: #fff;
}

.products-1 img{
    width: 300px;
    height: 300px;
}

.footer-bg{
    /*  background-image: url(/Imagenes/fondo2.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover; */
     background-color: #000;
     text-align: center;
     padding: 100px 0;
 }
 
 .pie-pagina{
     width: 100%;
 }
 
 .pie-pagina .group-1{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 50px;
     padding: 45px 0px;
 }
 
 .pie-pagina .group-1 .box figure{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 
 .pie-pagina .group-1 .box figure img{
     width: 250px;
 }
 
 .pie-pagina .group-1 .box h2{
     color: #cf2d3a;
     margin-bottom: 25px;
     font-size: 50px;
 }
 
 .pie-pagina .group-1 .box p{
     color: #fff;
     margin-bottom: 10px;
 }
 
 .pie-pagina .group-1 .red-social a{
     display: inline-block;
     text-decoration: none;
     width: 45px;
     height: 45px;
     line-height: 45px;
     color: #fff;
     margin-right: 15px;
     background-color: #0d2033;
     text-align: center;
     transition: all 300ms ease;
 }
 
 .pie-pagina .group-1 .red-social a:hover{
     color: #cf2d3a;
 }
 
 .footer-txt{
     text-align: center;
     padding: 10px;
     background-color: #070707;
 }

@media(max-width: 991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 150px 40px 60px 40px;
    }

    .header-txt{
        margin-bottom: 15px;
    }

    .header-txt h1{
        font-size: 40px;
    }

    .header-txt p{
        padding: 0;
        margin: 15px 0;
    }

    .header-dir{
        flex-direction: column;
    }

    .dir p{
        font-size: 18px;
    }

    p{
        margin: 15px 0;
    }

    .products{
        padding: 30px;
    }

    .products-txt p{
         padding: 0;
    }

    .products-group{
        flex-direction: column;
        margin: 0;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .products-1{
        margin: 0 0 20px 0;
    }
   
.pie-pagina .group-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

    .footer-bg{
        padding: 30px;
    }
}